*{
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
}

.general{
  margin-top: 20px;
  border: 2px,solid,black;
}



.imagen{
   margin-top: 20px;
}

.descripcion{
  margin-top: 20px;
}

h1{
    
    color: rgb(147, 101, 255);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}





.generalmenu{
    margin-top: 20px;
     
  }

  .enlaces{
       font-size: 1.4em;
  }
